.letters_block{
	background-color: red;
	border: 2px solid black;
	height: 100px;
	width: 50%;
}
body{
	margin: 0px;
}
#letters{
	font-size: 30px;
	margin: 0px;
}
.leftView_container{
	float: left;
	width: 22%;
	background-color: #009999;
}
img{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
}
aside{
	margin-left: 25%;
}
#amazon{
	margin-left: 10%;
	color: white;
}
.search{
	margin-top: 30%;
}
#search_header{
	font-size: 20px;
	margin-left: 20%;
	display: inline;
	color: white;
}
#text_input{
	margin-left: 12%;
	border: 2px inset;
}
#input_button{
	margin-left: 32%;
	background-color: black;
	color: white;
	border: 2px inset;
	border-radius:5px;
	width: 20%;
}
.siteMaps{
	margin-left: 27%;
	margin-top: 20%;
	margin-bottom: 20%;
}
h2{
	text-decoration: underline;
	color: #00FFFF;
}
.home_page{
	margin-left: 5%;
}
h4{
	color:yellow;
	font-size: 19px;
	margin-left: 2%;
}
#nav{
	color: white;
	display: block;
}
.ul_links{
	list-style-type: none;
}
.rightView_container{
	float: right;
	width: 76%;
}
nav{
	margin-bottom: 30px;
}
h1{
	display: inline;
	font-size: 100px;
	text-decoration: underline;
	color: #C0C0C0;
}
#top{
	display: inline;
	font-size: 52px;
	color:#009999;
	font-family: arial;
	font-style: italic;
	margin-bottom: 51px;
}
#bottom{
	font-size: 30px;
	display: inline;
	font-family: arial;
	font-style: italic;
	color:#009999;
}
.text{
	font-family: arial;
	font-size: 24px;
}